nav {
    background-color: $secondary-color;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;

    #logo {
        display: flex;
        flex-direction: row;

        i {
            font-size: 2.3em;
            padding: 0 20px;
        }
    
        h1 {
            font-size: 2.3em;
        }
    }

    #search-box {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        width: 35vw;
        justify-content: space-around;
        align-items: center;

        input {
            border-radius: 6px;
            text-decoration: none;
            border: none;
            padding: 10px;
        }

        button {
            background-color: white;
            border-radius: 6px;
            border: none;
            padding: 10px;
            color: $primary-color;
            cursor: pointer;
        }

        .dropdown {
            display: flex;
            flex-direction: column;

            #myDropdown {
                display: none;
                top: 80px;
                flex-direction: column;
                position: fixed;
                columns: 1;
                z-index: 2;
                background-color: $secondary-color;

                button {
                    color: white;
                    text-decoration: none;
                    padding: 10px 20px;
                    background-color: $secondary-color;
                    cursor: pointer;
                }
            }
        }

        #favourites {

            #favouritesbtn {
                padding: 10px;
                cursor: pointer;
                border: 2px solid white;
                border-radius: 6px;
            }

            #favourites-list {
                display: none;
                position: fixed;
                z-index: 2;

                li {
                    padding: 20px;
                    background-color: $secondary-color;
                    color: white;
                }
            }
        }
    }
}